@import "../assets/fontawesome/css/all.css";
@import "../assets/css/booking-widget.css";
@import "../assets/css/flights-search.css";

/*
FLights Search
=======================
*/
/*@import "../assets/css/Common-en.min.css";
@import "../assets/css/filter-side-panel.min.css";
@import "../assets/css/flight_search.min.css";*/

body {
    font-family: 'Open Sans', sans-serif;
}
img {
    max-width: 100%;
}
a, a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
}
a:hover, a:active, a:focus {
    color: #0077c0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1230px;
    } 
}
.aaa-screenreader-hidden-Text {
    text-indent: -999999px!important;
    font-size: 0!important;
    margin: 0!important;
    position: absolute;
    color: #000;
}
.aaa-screenreader-hidden {
    display: none!important;
}
/*
TOP BAR
======================================
*/
.topbar {
    background-color: #fff;
    width: 100%;
    min-height: 20px;
    padding: 5px 0;
    z-index: 3001;
    border-bottom: 1px solid #e0e0e0;    
}
.topbar__navbar-left {
    padding: 0px;
}
.topbar__navbar-left .navbar-nav > li {
    margin:0px 7px;
}
.topbar__navbar-left .navbar-nav > li:first-child {
    margin-left: 0px;
}
.topbar__navbar-left .navbar-nav > li:last-child {
    margin-right: 0px;
}
.topbar__navbar-left .navbar-nav > li > a {
    margin: 0;
    color: #b3b3b3;
    display: inline;
    padding: 0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    vertical-align: baseline;
    height: auto;
}
.topbar__navbar-left .navbar-nav > li > a:hover, .topbar__navbar-left .navbar-nav > li.active > a {
    color: #242424;
}
/*
HEADER
======================================
*/
.header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    left: 0;
    width: 100%;
    z-index: 99;    
}
.header .main__menu {
    padding: 0px;
}
.header .main__menu .navbar-brand img {
    max-width: 140px;
}
.header .main__menu .navbar-nav>li>a {
    text-transform: uppercase;
}

/*
CONTENT PANEEL (HOME CATEGORY)
======================================
*/
.content__panel {
    position: relative;
    border-bottom: 1px solid #fff;
}
.content__panel .content__panel-bg {
    width: 100%;
    height: 100%;
    background-color: #ccc;
}
.content__panel .content__panel-content {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
    height: 100%;    
}
.content__panel .content__panel-text {
    position: absolute;
    z-index: 1;
    left: 98px;
    top: 80px;
    width: 325px;
    height: 200px;  
}
.content__panel .content__panel-text .heading {
    position: relative;
    line-height: 42px;
    text-transform: capitalize;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    color: #fff;
    letter-spacing: .5px;
    text-align: left;
}
.content__panel .content__panel-text .content__panel-tag{
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.content__panel .content__panel-text img {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    float: none;
    margin-top: 0;
}
.content__panel-chips {
    position: absolute;
    right: 10%;
    top: 0px;
}
.chip__item {
    width: 240px;
    height: 240px;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 999;
    opacity: 1;
    display: block;
    border: 1px solid #fff;
    margin-top: -1px;
}
.chip__item-link {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 4;
}
.chip__item .chip__item-trans {
    left: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: .25;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,.6) 25%,rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(25%,rgba(0,0,0,.6)),color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,.6) 25%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,.6) 25%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,.6) 25%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,.6) 25%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#000000',GradientType=0);
}
.chip__item .chip__item-content {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
}
.chip__item .chip__item-bg {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: 100% 100%;
    padding: 0;
}
.chip__item .chip__item-bg img {
    position: absolute;
    top: 0;
    left: 0;
}
.chip__item-heading {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    z-index: 99;
}
.chip__item-heading h2 {
    clear: both;
    position: relative;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-align: left;
    margin: 0 0 10px!important;
    padding: 0;
    line-height: 1;
}
.chip__item-heading h3 {
    position: relative;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    padding: 0;
}
.chip__item-tag {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    cursor: pointer;
    height: 26px;
    width: auto;
    padding-right: 20px;
    background-color: #01aaad;
    border-bottom-right-radius: 20px;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-indent: 10px;
}
.chip__item-tag a {
    line-height: 26px;
    margin: 0;
    text-overflow: ellipsis;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    color: #fff;
}
/*
CONTENT
==================================
*/
.container-content {
    max-width: 850px;
    margin: 0 auto;
    position: relative;
}
.content__snippet {

}
.content__snippet h1 {
    margin: 65px 0 40px 0;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    color: #000;
}
.content__snippet .content__snippet-text {
    margin: 0 0 50px 0;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    color: #000;
}

/*
FOOTER
===================================
*/
.footer .container {
    max-width: 960px;
    margin: auto;
}
.social-links {
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}
.social-links ul {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}
.social-links ul li {
    flex-grow: 1;
    text-align: center;
    border-left: 1px #ccc solid;
    list-style: none;
}
.social-links ul li:last-child {
    border-right: 1px #ccc solid;
}
.social-links ul li a {
    color: #cccccc;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    display: block;
}
.social-links ul li a:hover {
    color: #009ddf;
}

.footer-cols {
    padding: 46px 0 10px 0;
    overflow: hidden;    
}
.footer-cols .col {
    padding-right: 20px;
}
.footer-cols .col h3 {
    padding-bottom: 15px;
    font-size: 15px;
    padding: 0;
    margin: 0 0 16px;
    height: 36px;
    line-height: 18px;
}
.footer-cols .col ul li {
    padding-bottom: 15px;
    color: #767676;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3;
}
.footer-cols .col ul li a {
    color: #767676;
}
.copyright {
    margin-bottom: 10px;
}
.copyright .copyright-menu {
    width: 100%;
    padding-top: 19px;
    padding-right: 10px;
}
.copyright .copyright-menu ul {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}
.copyright .copyright-menu li {
    font-size: 13px;
    font-weight: bold;
    border-right: 1px #ccc solid;
    margin-right: 6px;
    padding-right: 10px;
}
.copyright .copyright-menu li:last-child {
    border-right: none;
}
.copyright .copyright-menu li a {
    color: #040404;
}
.copyright p {
    font-size: 13px;
    color: #767676;
    margin: 0px;
}
/*
Datepicker
======================================
*/
.ui-datepicker-header{
    position:relative
}
.ui-datepicker-calendar th,.ui-datepicker-calendar td{
    text-align:center
}
.ui-datepicker-calendar a,.ui-datepicker-calendar span{
    font-size:20px;
    width:39px;
    height:39px;
    line-height:39px;
    text-align:center;
    color:#040404;
    display:block
}
.ui-datepicker-title{
    background:#fff;
    color:#040404;
    font-size:16px;
    font-weight:bold;
    line-height:39px;
    text-align:center
}
.ui-datepicker-calendar-title{
    font-size:22px;
    font-weight:bold;
    margin:0 auto;
    text-align:center;
    padding:36px 0 24px 0
}
#ui-datepicker-div.ui-datepicker{
    background-color:#fff;
    padding:10px;
    border:1px solid #ccc;
    display:none
}
#ui-datepicker-div.ui-datepicker thead span{
    color:#040404;
    font-size:14px;
    height:28px;
    line-height:28px;
    width:28px;
    margin:1px
}
#ui-datepicker-div.ui-datepicker .ui-state-default{
    color:#040404;
    display:block;
    font-size:14px;
    height:28px;
    width:28px;
    margin:1px;
    line-height:28px;
    text-align:center
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-current-day{
    background-color:#c22c91
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-unselectable .ui-state-default{
    background:#ececec;
    color:#cbcbcb
}
#ui-datepicker-div.ui-datepicker td p:after{
    content:none!important
}
.ui-datepicker-group{
    margin:0 37px;
    float:left
}
.ui-datepicker-group .ui-datepicker-inline{
    height:319px
}
.ui-datepicker-group.left-calendar .ui-datepicker-inline{
    padding-right:40px;
    padding-left:20px;
    margin-left:-20px;
    border:1px #ececec solid
}
.ui-datepicker-group.right-calendar .ui-datepicker-inline{
    padding-right:33px;
    padding-left:20px;
    margin-left:-33px;
    border:1px #ececec solid;
    border-left:none
}
.ui-datepicker-group td{
    border:solid 1px #fff;
    position:relative
}
.ui-datepicker-group td .tooltip{
    position:absolute;
    top:-18px;
    padding:2px;
    min-width:120px;
    text-align:center;
    color:#fff;
    left:-9999px;
    background:#040404;
    font-size:10px;
    text-transform:uppercase;
    font-weight:bold;
    z-index:10;
    line-height:14px
}
.ui-datepicker-group td .tooltip:before{
    content:'';
    display:block;
    position:absolute;
    left:0;
    bottom:-10px;
    width:0;
    height:0;
    border-style:solid;
    border-width:10px 10px 0 0;
    border-color:#040404 transparent transparent transparent
}
.ui-datepicker-group td:hover .tooltip{
    left:24px
}
.ui-datepicker-group td.ui-datepicker-unselectable .ui-state-default{
    background:#ececec;
    color:#cbcbcb
}
.ui-datepicker-group th span{
    font-size:16px;
    font-weight:bold;
    width:39px;
    height:39px;
    line-height:39px;
    text-align:center;
    color:#040404;
    display:block
}
.ui-datepicker-group .dp-highlight a{
    background-color:#040404;
    color:#fff
}
#datepicker .ui-datepicker-group .ui-datepicker-current-day a{
    background-color:#c22c91;
    color:#fff
}
a.ui-datepicker-next,a.ui-datepicker-prev{
    width:7px;
    height:12px;
    text-indent:-99999px;
    display:block;
    top:13px;
    position:absolute;
    cursor:pointer
}
a.ui-datepicker-next.ui-state-disabled,a.ui-datepicker-prev.ui-state-disabled{
    display:none
}
a.ui-datepicker-next{
    right:15px;
    background:url(../assets/images/date-pick-arrow.png) -7px 0 no-repeat
}
a.ui-datepicker-prev{
    left:15px;
    background:url(../assets/images/date-pick-arrow.png) 0 0 no-repeat
}